<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>VideoIndexer</string>
    <key>CFBundleIdentifier</key>
    <string>com.jasontitus.videoindexer</string>
    <key>CFBundleName</key>
	<string>Open Testimony</string>
    <key>CFBundleIconFile</key>
    <string>VideoIndexer.icns</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSRequiresNativeExecution</key>
    <true/>
</dict>
</plist> 