# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/
video-indexer/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
store_credentials.sh
store_credentials.sh.local
video_index_output/
video_thumbnails_output/
temp_uploads/
*.faiss
*.json
!index_config.json
!transcript_index_config.json
*.m3u

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log 